!!! 5
html(lang="en")
    head
        meat(charset="UTF-8")
        title #{title}
        link(rel="stylesheet",href="../lib/css/main.css")
    body   
        #section.content 
        block content 